{% extends 'base.html.twig' %}

{% block title %}Atypikhouse|Property{% endblock %}

{% block body %}
{% include 'shared/header.html.twig'%}
{# Nos Hebergement #}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-secondary double-down-line text-center mb-4">Nos hébergements</h2>
        </div>
        <div class="col-md-12">
            <div class="row">
                {% for property in properties %}
                    <div class="col-md-6 col-lg-4">
                        <div class="featured-thumb hover-zoomer mb-4">
                            <div class="overlay-black overflow-hidden position-relative">
                                <a href="{{ path('app_property_details', {'id': property.id}) }}">
                                    <img src="{{ app.request.getBasePath() }}/public/images/{{ property.pimage }}" alt="pimage" id="propertyImage{{ property.id }}">
                                </a>
                                <div class="price text-primary"><b>{{ property.price }} € / nuit</b><span class="text-white">{{ property.size }} m²</span></div>
                            </div>
                            <div class="featured-thumb-data shadow-one">
                                <div class="p-3">
                                    <h5 class="text-secondary hover-text-success mb-2 text-capitalize">
                                        <a href="{{ path('app_property_details', {'id': property.id}) }}">{{ property.title }}</a>
                                    </h5>
                                    <span class="location text-capitalize">
                                        <i class="fas fa-map-marker-alt text-success"></i> {{ property.location }}
                                    </span>
                                </div>
                                <!-- ... (rest of your property details) ... -->
                                <div class="p-4 d-inline-block w-100">
                                    <div class="float-right">
                                        <i class="far fa-calendar-alt text-success mr-1"></i> {{ property.date|date('d-m-Y') }}
                                    </div>
                                    <a href="{{ path('app_property_details', {'id': property.id}) }}" class="btn btn-primary">Voir détails</a>
                                </div>
                            </div>
                        </div>                  
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{# End Nos Hebergement #}


{% include 'shared/footer.html.twig'%}
{% endblock %}
