{% extends 'base.html.twig' %}

{% block title %}Atypikhouse{% endblock %}

{% block body %}
    {% include 'shared/header.html.twig' %}

    <!-- Reste de votre contenu -->
    <div class="full-row">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2>{{ property.title }}</h2>

                    <!-- Affichage de l'image -->
                   <img src="{{ app.request.getBasePath() }}/public/images/{{ property.pimage }}" alt="pimage" id="propertyImage{{ property.id }}">


                    <div class="row mb-4">
                        <div class="col-md-6">
                            <span class="mb-sm-20 d-block text-capitalize"><i class="fas fa-map-marker-alt text-success font-12"></i> &nbsp;{{ property.location }}</span>
                            <a href="{{ path('app_booking', {'pid': property.id}) }}" class="btn bg-info mt-4">Réserver</a>
                        </div>
                        <div class="col-md-6">
                            <div class="text-success text-left h5 my-2 text-md-right">{{ property.price }}€</div>
                            <div class="text-left text-md-right">Prix</div>
                        </div>
                    </div>

                    <div class="property-details">
                        <div class="bg-gray property-quantity px-4 pt-4 w-100">
                            <ul>
                                <li><span class="text-secondary">{{ property.size }}</span> m²</li>
                                <li><span class="text-secondary">{{ property.bedroom }}</span> chambre</li>
                                <li><span class="text-secondary">{{ property.bathroom }}</span> salle de bain</li>
                                {% for feature in property.propertyFeatures %}
                                    <li><span class="text-secondary">{{ feature.description }}</span>{{ feature.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <h4 class="text-secondary my-4">Description</h4>
                        <p>{{ property.pcontent }}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- ... Votre contenu ... -->
                </div>
            </div>
        </div>
    </div>

    {% include 'shared/footer.html.twig' %}
{% endblock %}
